h1 {
  margin: 2rem 1rem;
}

.card {
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  height: 10rem;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
}
